<app-qr-item [name]="'Ideenleuchte'" [imageSrc]="'assets/images/lamp.png'">
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Anna<br />
  <br />
  <strong>Wie bist du auf die Idee gekommen? </strong> <br />
  "<cite>Ich mag es, gemütliches Licht im Raum zu haben.</cite>"<br />
  <br />
  <strong>Geschichte: </strong> <br />
  "<cite
    >Diese Leuchte habe ich mir nicht ausgesucht, sondern sie stand schon in der
    Küche als ich in die WG gezogen bin. Ich weiß nicht viel über ihre
    Geschichte (außer, dass sie sich bevor sie in die WG kam im Umsonstladen im
    Erzgebirge von Pauls Mama befand), aber in ihrem gemütlichen Licht ließ es
    sich in entspannter Atmosphäre einfach wunderbar Ideen und Pläne für den
    Eckladen schmieden. Welche Gedankenblitze sie wohl im Raum der Zeit auslösen
    wird? </cite
  >"<br />
  <br />
  <br />
</app-qr-item>
