::ng-deep .dx-widget {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  font-family: futura-bold;
  border: 1px solid var(--secondary-color);
}

::ng-deep .dx-scheduler-agenda-appointment-marker {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

::ng-deep .dx-tooltip-appointment-item-marker-body {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

::ng-deep .dx-scheduler-appointment {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

::ng-deep .dx-scheduler-header-panel-cell {
  border: 1px solid var(--secondary-color) !important;
}

::ng-deep .dx-scheduler-date-table-cell {
  border: 1px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
}
