::ng-deep .dx-scheduler-agenda-appointment-marker {
  background-color: var(--main-color) !important;
}
::ng-deep .dx-tooltip-appointment-item-marker-body {
  background-color: var(--main-color) !important;
}
::ng-deep .dx-scheduler-appointment {
  background-color: var(--main-color) !important;
  color: black;
}
