<app-qr-item
  [name]="'La Valse musette'"
  [imageSrc]="'assets/images/la-valse-musette.jpg'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Mauria<br />
  <br />
  <strong>Wie bist du auf die Idee gekommen? </strong> <br />
  "<cite
    >Finde die Idee spannend, sich den temporär im Raum verweilenden
    Gegenständen über eine kleine Geschichte nähern zu können. </cite
  >"<br />
  <br />
  <strong>Gibt es eine Geschichte dazu? </strong> <br />
  "<cite
    >Dieses Gemälde war schon einmal verkauft und an der Wohnzimmerwand eines
    meiner Bekannten in vorauseilender Freude aufgehängt worden. Wenige Wochen
    nach dem Verkauf meldete sich jedoch der Besitzer bei mir und bat mich
    inständig um eine Umtauschoption.<br />
    <br />
    Das Bild hatte ihm vollkommen den Schlaf geraubt. Folgendes soll passiert
    sein:<br />
    <br />
    H. hatte es über seinem Schlafsofa aufgehängt, um sich von der
    Akkordeonspielerin mit französicher Valse Musette im Dreivierteltakt sanft
    in den Schlaf wiegen zu lassen, im Traum vielleicht auf eine süße Begegnung
    mit der Musikerin hoffend. In gewisser Weise wurde diese Hoffnung auch
    erfüllt - aber leider übererfüllt!<br />
    <br />
    Die scheinbar hingebungsvoll verträumte Person begegnete ihm nun in vielen
    schweißtreibenden Träumen als wilde Lilith, entzündete ein furioses Feuer in
    ihren weit geöffneten Augen und starrte ihn herausfordernd an. Nachdem sie
    schließlich noch versucht hatte, ihm seine Bettdecke wegzuzerren, war es
    gänzlich um den Nachtschlaf des armen Mannes geschehen. Alle Urangst des
    Mannes vor dem ungezähmten Weibe ergoss sich über ihn in qualvollen
    Alpträumen...<br />
    <br />
    Froh, diese nächtlichen Attacken überlebt zu haben, bat er mich also darum,
    ihm dieses Weib aus dem Hause zu schaffen. Dem gab ich leicht erheitert
    statt. Seit einigen Jahren erfreut es sich nun an seinem Tauschbild: drei
    betenden Männern, den Himmel um Gnade bittend. </cite
  >"<br />
  <br />
  <strong
    >Welche Frage fehlt hier noch, was möchtest du noch dazu teilen?</strong
  >
  <br />
  "<cite
    >Welche Bedeutung haben Raum und Zeit? Die Bedeutung, die WIR - ganz
    persönlich und im Augenblick - ihnen einräumen. </cite
  >"<br />
  <br />
</app-qr-item>
