<app-qr-item
  [name]="'Der etwas andere Stuhl'"
  [imageSrc]="'assets/images/stuhl.jpeg'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Ben<br />
  <br />
  <strong>Wie bist du auf die Idee gekommen? </strong> <br />
  "<cite
    >Ich glaube dass es dem Laden sowohl fehlt, als auch ein wenig amüsant
    ist.<br />
    (Die Sitzposition ist ulkig und dennoch super bequem und praktisch!) </cite
  >"<br />
  <br />
  <strong>Gibt es eine Geschichte dazu? </strong> <br />
  "<cite
    >Mein Eltern waren damals auf einem Markt unterwegs und haben sich sehr gut
    mit dem Verkäufer Verstanden, der gleichzeitig auch der Schöpfer dieses
    Stückes ist. Mein Papa wollte mir den Stuhl unbedingt schenken - was er auch
    getan hat. Da es eine Handfertigung ist und ein Geschenk meiner Eltern,
    hängt natürlich ein besonderer Wert daran. Durch meine doch eher
    minimalistische Lebensart der letzten Jahre hatte ich für den Stuhl (in
    "aufgebauter" Form) leider keinen Platz- Dennoch hat er mich stets von Stadt
    zu Stadt begleitet. Ich fände es schön, wenn er mehr Beachtung und Benutzung
    bekommt und glaube, dass er in eurem Laden erstmal super aufgehoben wäre! </cite
  >"<br />
  <br />
  <strong
    >Welche Frage fehlt hier noch, was möchtest du noch dazu teilen?</strong
  >
  <br />
  "<cite
    >Wir würden Sie die Sitzqualität auf einer Skala von 1 bis 10 Bewerten? </cite
  >"
  <br />
</app-qr-item>
