/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  // margin-bottom: 0;
}

@font-face {
  font-family: futura;
  src: url(./assets/fonts/Futura-CondensedLight.otf) format("opentype");
}

@font-face {
  font-family: futura-bold;
  src: url("./assets/fonts/Futura Bold font.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "futura-bold", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
