/* You can add global styles to this file, and also import other style files */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
}

a,
.a {
  color: var(--secondary-color);
  background-color: rgba($color: white, $alpha: 0.5);
}

a:hover,
.a:hover {
  color: white;
  background-color: rgba($color: black, $alpha: 0.5);
}

@font-face {
  font-family: futura;
  src: url(./assets/fonts/Futura-CondensedLight.otf) format("opentype");
}

@font-face {
  font-family: futura-bold;
  src: url("./assets/fonts/Futura Bold font.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "futura-bold", "Helvetica Neue", sans-serif;
}

// for vime player
/* Default theme. ~960B */
@import "~@vime/core/themes/default.css";

/* Optional light theme (extends default). ~400B */
@import "~@vime/core/themes/light.css";
