<app-qr-item
  [name]="'Würfel verbinden - eine Spielanleitung'"
  [imageSrc]="'assets/images/wuerfel.png'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Julius<br />
  <br />
  "<cite
    >Tu dir was Gutes. <br />
    Bitte reiß dir ein Blatt aus und fordere deine Liebsten zum Kniffelduell.<br />
    Die Moin-Moin-Frisbeescheibe ist eine bewährte Würfelunterlage.</cite
  >"<br />
  <br />
  <strong>Hierbei noch einige Tipps aus Erfahrung:</strong><br />
  <cite>
    1.) Das Full House kommt meistens von allein. Genauso wie die kleine Straße.
    Die Große eigentlich auch.<br />
    2.) Das Schlagloch (20 Punkte) ist eine unterbrochene große Straße:
    1-2-4-5-6 ODER 1-2-3-5-6 <br />
    3.) Der Highway (es gibt 4 Varianten, es zählen alle Augenzahlen) bezeichnet
    zwei Fahrspuren und einen Mittelstreifen. Der kleinste ist: 1-1 | 2 | 3-3,
    der größte ist: 4-4 | 5 | 6-6 <br />
    4.) Beim Fragezeichen kannst du dir eine eigene Kombination mit eigener
    Punktzahl ausdenken. Beispiel: Die Schlange: 1-1-1-3-2 (30 Punkte) <br />
    5.) Mehr als ein Kniffel (5 von einer Sorte) wird mit 50 Extrapunkten
    belohnt. Dieser kann zum Beispiel im 3er Pasch oder im Full House
    eingetragen werden.
    <br />
    6.) Wird der Kniffel angesagt (1x pro Spiel möglich), gibt es nochmal 50
    Extrapunkte.<br />
    7.) Spielvarianten: Doppelte Reihe (jede*r spielt zwei Reihen, die zweite
    zählt dabei doppelt) // Pyramide (2 Reihen: eine wird normal gespielt, die
    andere strikt von oben nach unten) <br />
    8.) Fällt mal ein Würfel neben die Frisbeescheibe, kannst du diesen nutzen,
    um ungewollte Würfelergebnisse mit einem gezielten Schuss zu verändern. </cite
  ><br />
  <br />
  <strong>Anmerkung des Autors: </strong><br />
  "<cite
    >Mein Freund und Ex-Mitbewohner Niklas brachte das Spiel Kniffel in den
    Freund*innenkreis und gleich dazu gab er mir diesen Block, den hat er selbst
    gestaltet hat.<br />
    <br />
    Was du hier in Händen hältst, ist die Einladung zur Kunst der Manifestation.
    <br />
    Jeder Zettel ein Versprechen. <br />
    Denn: die Würfel fühlen, was du willst. Wenn du klar bist, was du brauchst.
    <br />
    <br />
    Nach langjähriger Erfahrung im Kniffeln, durch unzählige Partien in Clubs,
    Parks, im Bett, im Urlaub oder bei einem Käffchen auf dem Balkon habe ich
    gelernt, dass die Würfel auf deine Stimmung und auf deine Intention
    reagieren. Viele absurde und geniale Kombinationen, Freudesrufe und
    Fügungen/Zufälle entstanden dann, wenn ich mit Optimismus und einer klaren
    Ausrichtung den nächsten Wurf setzte. Die besten Ergebnisse hatte ich immer
    dann, wenn ich mir deutlich vorgestellt habe, was ich würfeln möchte. <br />
    In Momenten großer Entschlossenheit entstanden kongeniale Würfelstrukturen,
    die in den ausgefüllten Blättern dieses Blocks verewigt wurden. <br />
    <br />
    Viel Spaß und mögen die Würfel mit dir sein.</cite
  >"
  <br />
</app-qr-item>
