<app-qr-item
  [name]="'Erinnerungshüterin'"
  [imageSrc]="'assets/images/kamera.jpeg'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Ninsen<br />
  <br />
  "<cite
    >Hallohallo ihr Süszen, <br />
    ich hab voll Lust meine analoge Kamera für einige Zeit im Laden
    einzubringen. Gerne auch zum fotografieren. Der Film der drin ist hat noch
    ein paar Fotos, die geschossen werden möchten. (Sollte der zügig voll
    werden, kann ich auch nochmal 1 Film nachlegen)<br />
    Ich habe als Abspieloption für den QR-Code einen Text aufgenommen. Die Voice
    Datei ist anbei :) </cite
  >"<br />
  <vm-player autoplay muted controls>
    <vm-audio cross-origin>
      <source data-src="assets/audio/momentaufnahme.mp3" type="audio/mp3" />
    </vm-audio>
  </vm-player>
  <br />
  <strong>Wie bist du auf die Idee gekommen? </strong> <br />
  "<cite
    >-->das hat dem Raum auf jeden Fall gefehlt / finds einfach nur lustig <—
    Beides! Finde es immer gut schöne Momente festzuhalten und diese Kamera
    könnte ein geeignetes Werkzeug dafür sein. ;) </cite
  >"<br />
  <br />
  <strong>Kannst du uns etwas über dich oder den Gegenstand erzählen? </strong>
  <br />
  "<cite
    >Ich habe die Kamera von einem mir sehr lieben Freund zu meinem Geburtstag
    geschenkt bekommen, bevor ich ein halbes Jahr nach Tansania gegangen bin. Da
    ich meine andere analoge Kamera nicht mitnehmen wollte und er genau weiß,
    wie wichtig mir das fotografieren ist, hat er mir seine mit auf den Weg
    gegeben. (Grüße gehen raus an Benno Schranke) </cite
  >"<br />
  <br />
  <strong
    >Möchtest du damit auf weitere Informationen aufmerksam machen?</strong
  >
  <br />
  "<cite>Für die Gude Laune: </cite>"<br />
  <app-yt-player videoId="JKvl3Zu6_C8"></app-yt-player>
  <br />
  <strong
    >Welche Frage fehlt hier noch, was möchtest du noch dazu teilen?</strong
  >
  <br />
  "<cite>Woran erinnerst du dich gerne? </cite>"
  <br />
</app-qr-item>
