<app-qr-item [name]="'Dein Cup Cap (' + cupId + ')'" [imageSrc]="'assets/images/cap.png'">
  Dies ist dein ganz persönlicher Kronkorken. Das bedeutet du kannst
  alles was dir lieb ist in diesen "hineinlegen". Das funktioniert folgender Maßen:<br />
  1. Schreib uns eine <a target="_top" [href]="simpleMail">E-Mail</a> an
  kontakt@raum-der-zeit.de mit dem Betreff "<cite>Cup Cap Link: {{ cupId }} </cite>" <br />
  2. Gib uns Informationen, welche du hinterlegen möchtest. Zum Beispiel Text / Bild als Datei / Web-Link / Youtube-Video-Link / Musik als Datei<br />
  3. Wir kümmern uns dann darum, dass dein Kontent aus der E-Mail bei diesem QR-Code hinterlegt wird.<br />
  <br />
  <strong>Sobald dein QR-Code nun gescannt wird, werden deine Informationen angezeigt! </strong>
  <br />
  <a href="/">Hier</a> solltest du wieder auf unsere Hauptseite kommen. <br />
</app-qr-item>
