<app-qr-item [name]="'Cup in the Cap (' + cupId + ')'" [imageSrc]="'assets/images/cap.png'">
  Dies ist dein ganz persönlicher Cup. Was das bedeutet?! Naja, das
  kann vieles Bedeuten, zum Beispiel: Tasse, Pokal, Kelch, Körbchen, Pott, Krone
  oder auch Schale. Es liegt ganz allein an dir, was du da reinlegen möchtest.<br />
  1. Schreib uns eine <a target="_top" [href]="simpleMail">E-Mail</a> an
  kontakt@raum-der-zeit.de mit dem Betreff "<cite>Cup in the Cap Nummer: {{ cupId }}</cite>" <br />
  2. Gib uns Informationen, die du in deine Schale legen möchtest.<br />
  3. Wir kümmern uns dann darum, dass es bei diesem QR-Code hinterlegt wird.<br />
  <br />
  <strong>Sobald dein QR-Code nun gescannt wird, werden deine Informationen angezeigt! </strong>
  <br />
  <a href="/">Hier</a> solltest du wieder auf unsere Hauptseite kommen. <br />
</app-qr-item>
