<app-qr-item
  [name]="'Unser Badezimmer Ficus'"
  [imageSrc]="'assets/images/plant.png'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Anna, Paul (und Konsti)<br />
  <br />
  <strong>Wie bist du auf die Idee gekommen? </strong> <br />
  "<cite
    >Die einfache pragmatische Antwort ist, dass der Raum der Zeit einfach auch
    Natur und Pflanzen braucht. Aber die schöne Antwort ist, dass wir ihn sehr
    lieb gewonnen haben. </cite
  >"<br />
  <br />
  <strong>Gibt es eine Geschichte dazu? </strong> <br />
  "<cite
    >Ja, ein paar Worte kann ich schon dazu sagen. Dieser liebe Zeitgenosse ist
    nämlich durch meinen letzten WG Mitbewohner Konsti bei uns gelandet. Und
    seit Konsti sein neues Glück außerhalb der WG gefunden hat, hat unser Ficus
    sein neues Glück im Bad gefunden. Danke, dass du uns täglich eine schöne
    Regenwaldatmosphäre bereitest. <br />
    Lieber Ficus, wir wünschen dir jedenfalls eine schöne Zeit im Raum! Aber
    komm doch bitte gerne wieder gesund und munter zu uns nach Hause zurück,
    wenn du genug mit fremden Menschen geflirtet hast. Wir vermissen dich schon
    jetzt! </cite
  >"<br />
  <br />
  <strong
    >Möchtest du damit auf weitere Informationen aufmerksam machen?</strong
  >
  <br />
  "<cite
    >Hmmm. Naja. Damit man dich hier gut behandelt vielleicht ein paar
    <a target="_blank" href="https://www.123zimmerpflanzen.de/pflege/ficus"
      >Pflegenhinweise</a
    >. Bitte behandel ihn respecktvoll und bitte auch nicht zu viel gießen. Was
    er garnicht leiden kann sind dauerhaft nasse Füße. Geht uns ja genauso,
    oder?!</cite
  >"<br />
  <br />
  <strong
    >Welche Frage fehlt hier noch, was möchtest du noch dazu teilen?</strong
  >
  <br />
  "<cite
    >Frage: Hast du auch nen grünen Daumen? Falls ja, unser Ficus würde sich
    sehr über pflanzliche Gesellschaft freuen!</cite
  >"
  <br />
</app-qr-item>
