<app-qr-item [name]="'Karin`s Rosenkorb'" [imageSrc]="''">
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Karin<br />
  <br />
  <strong>Was möchtest du zu diesem Gegenstand sagen? </strong> <br />
  "<cite
    >Ich bin die Nachbarin und bin fast 65 Jahre alt. Ich wohne direkt Wand an
    Wand. <br />
    <br />
    In der Ergotherapie hab ich zwei Körbe geflochten. Das hat mir einfach
    riesen Spaß gemacht! In der Reha hab Ich das mal gelernt. Hab noch nen
    anderen Korb, in Herzform, aber den geb ich nicht her. *lacht* <br />
    Vielleicht werde ich ja jetzt berühmt! </cite
  >"<br />
  <br />
</app-qr-item>
