.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // font-size: clamp(1rem, 3vh, 2rem);
  margin: 10%;
  margin-top: 5%;
  z-index: 100;
  display: flex;
  flex-direction: column;

  font-family: futura-bold;
  // font-weight: bold;
  line-height: 1.5;
}

.content-hide {
  display: none;
}

.text {
  position: relative;
  font-size: clamp(1rem, 3vh, 2rem);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
}

.item {
  width: 100%;
  height: 100%;
  position: absolute;
}
