<div
  [class.container-hide]="!routeSelected()"
  [class]="!isPortrait ? 'container' : 'container-portrait'"
  [@enterLeave]="routeSelected() ? 'selected' : 'home'"
>
  <h1 *ngIf="routeSelected()">{{ title }}</h1>
  <div *ngIf="hasTextContent" class="text fade">
    <br />
    <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
    <br />
    <br />
    <br />
  </div>
  <div *ngIf="!hasTextContent" #onlyContent class="content">
    <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
  </div>
</div>
<app-room-item
  cdkDrag
  *ngIf="imageSrc !== '' && (routeHome() || routeSelected())"
  [background]="routeSelected()"
  imagePath="{{ imageSrc }}"
  class="item"
  [style]="getItemImageStyle()"
  (click)="itemClick()"
  [title]="title"
></app-room-item>

<ng-template #tempOutlet>
  <ng-content></ng-content>
</ng-template>
