<app-qr-item [name]="'Raum und Zeit'" [imageSrc]="'assets/images/erde.png'">
  <cite style="text-align: center">
    <strong> Es dreht sich. </strong><br />
    <br />
    Wie die Zeit. <br />
    Wie die Zeiger auf der Uhr. <br />
    Wie die Welt. <br />
    Wie ein Globus. <br />
    Wie ein Planet in den unendlichen Weiten des Raumes.<br />
    <br />
    Oder dreht sich der Raum. <br />
    Alles ist Relativ. <br />
    Folge den Punkten. <br />
    Dreh dich selbst. <br />
    Und die Kugel steht still. <br />
    <br />
    Die Zeit steht still. <br />
    Wenn du eintauchst. <br />
    Und den Moment genießt. <br />
    <br />
    Zwischen Raum und Zeit.</cite
  >
</app-qr-item>
