<app-qr-item
  [name]="'Einweihungsgeschenk von Mama'"
  [imageSrc]="'assets/images/plant.png'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Martina<br />
  <br />
  <strong>Gibt es eine Geschichte dazu? </strong> <br />
  "<cite
    >Als Mama von Paul und Julius bin ich sehr stolz auf meine Jungs. Mit dieser
    Vase und dem handbemalten Osterschmuck (aus dem
    <a target="_blank" href="https://www.facebook.com/umsonstladen.rama/"
      >Umsonstladen in Raschau</a
    >) möchte ich zur aktuellen 'Einrichtung' im Raum der Zeit beitragen. Ich
    möchte diese Sachen nicht zurück, denn ich finde es sehr spannend, wenn
    'Sachen wandern'.</cite
  >"
</app-qr-item>
