<app-qr-item
  [name]="'Tutti Paunsdorf'"
  [imageSrc]="'assets/images/tutti-paunsdorf.jpg'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Kollektiv Plus X<br />
  <br />
  <strong>Gibt es eine Geschichte dazu? </strong> <br />
  "<cite
    >Die Stühle sind im Rahmen unseres Projekts 'Tutti Paunsdorf' entstanden.
    Hier haben wir für einen Monat eine Pop-up Eisdiele im Leipziger Stadtteil
    Paunsdorf gestaltet. Das Ziel des Projekts, welches in Zusammenarbeit mit
    dem Quatiersmanagement entstanden ist, war es in den heißen Sommermonaten
    Kultur, Leben und Eis in den Ortsteil zu bringen. Mit über 6000 Wohnungen
    ist Neu-Paunsdorf eine der letzten Großwohnsiedlungen des industriellen
    Plattenbaus der DDR. Leider gibt es jedoch bis auf zwei Supermärkte,
    Gasthäuser und dem im Gewerbegebiet liegendem Paunsdorf-Center kaum Angebote
    für die Bewohner:innenschaft. In Zusammenarbeit mit unterschiedlichen im
    Stadtteil ansässigen Akteur:innen haben wir ein Programm entwickelt. Es
    konnte an unterschiedlichen Events wie Siebdruck, Zirkus, Karate und
    Eis-Workshops teilgenommen werden. Auf einer Bühne gab es Unterhaltung von
    Blasorchestern bis Dj's. </cite
  >"<br />
  <br />
  <strong
    >Möchtest du damit auf weitere Informationen aufmerksam machen?</strong
  >
  <br />
  "<cite
    >Weitere Infos gibt zum Projekt und zum Kolleptiv gibt es hier: 
    <a target="_blank" href="http://www.kollektivplusx.de/tutti-paunsdorf/"
      >TUTTI Paunsdorf</a
    ></cite
  > "<br />
  <br />
</app-qr-item>
