<ng-container [ngSwitch]="objectId">
  <ng-container *ngSwitchCase="'buegeln-brett'">
    <app-buegeln-brett></app-buegeln-brett>
  </ng-container>

  <ng-container *ngSwitchCase="'badezimmer-ficus'">
    <app-badezimmer-ficus></app-badezimmer-ficus>
  </ng-container>

  <ng-container *ngSwitchCase="'dagmar'">
    <app-dagmar></app-dagmar>
  </ng-container>

  <ng-container *ngSwitchCase="'ideenleuchte'">
    <app-ideenleuchte></app-ideenleuchte>
  </ng-container>

  <ng-container *ngSwitchCase="'kniffel'">
    <app-kniffel></app-kniffel>
  </ng-container>

  <ng-container *ngSwitchCase="'raum-der-zeit'">
    <app-raum-der-zeit></app-raum-der-zeit>
  </ng-container>

  <ng-container *ngSwitchCase="'tante-herta'">
    <app-tante-herta></app-tante-herta>
  </ng-container>

  <ng-container *ngSwitchCase="'la-valse-musette'">
    <app-la-valse-musette></app-la-valse-musette>
  </ng-container>

  <ng-container *ngSwitchCase="'von-mama'">
    <app-von-mama></app-von-mama>
  </ng-container>

  <ng-container *ngSwitchCase="'tillo-pillow'">
    <app-tillo-pillow></app-tillo-pillow>
  </ng-container>

  <ng-container *ngSwitchCase="'flying-yoghurt'">
    <app-flying-yoghurt></app-flying-yoghurt>
  </ng-container>

  <ng-container *ngSwitchCase="'wieder-fernsehn'">
    <app-wieder-fernsehn></app-wieder-fernsehn>
  </ng-container>

  <ng-container *ngSwitchCase="'stuhl'">
    <app-stuhl></app-stuhl>
  </ng-container>

  <ng-container *ngSwitchCase="'rosenkorb'">
    <app-rosenkorb></app-rosenkorb>
  </ng-container>

  <ng-container *ngSwitchCase="'kamera'">
    <app-kamera></app-kamera>
  </ng-container>

  <ng-container *ngSwitchCase="'piano'">
    <app-piano></app-piano>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <app-wrong-link></app-wrong-link>
  </ng-container>
</ng-container>
