<app-qr-item
  [name]="'Milans Stagepiano'"
  [imageSrc]="'assets/images/milan_raduz.png'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Milan Daduz<br />
  <br />
  <strong>Wie bist du auf die Idee gekommen? </strong> <br />
  "<cite
    >Ich finde den Laden sehr sympathisch. Angenehme Menschen und ein guter
    Spirit (letzteres nicht eso-mäßig gemeint). Außerdem hat der Laden eine
    hervorragende Bordüre. Mir gefällt der Gedanke, dass noch mehr Menschen auf
    dem Klavier spielen können. Ich mag teilen. Auch als Utopie. </cite
  >"<br />
  <br />
  <strong>Kannst du uns etwas über dich oder den Gegenstand erzählen? </strong>
  <br />
  "<cite
    >Ich bin vor 5 Jahren an einem Tag extra mit dem Wochenendticket von Leipzig
    nach Hamburg und wieder zurück, um dieses Piano zu kaufen. Die Dud*innen,
    denen es vorher gehört hatte, waren so sympathische Stonerrock-Dud*innen,
    die es für einen guten Price verkauft haben. Das Teil hat seitdem schon
    einige Konzerte und Touren hinter sich. Eine zeitlang hatte ich mit meinem
    Ex-Netzteil ein Problem. Das Piano ging immer aus, wenn das Kabel nicht in
    einem ganz bestimmten Winkel gewickelt war. Im japanischen Haus gab es ein
    Konzert, wo mir das Teil drei Mal während des Konzertes ausging und ich die
    einsetzende Weirdness mit Dünnes Labern überbrücken musste, während ich
    damit beschäftigt war, das Kabel in genau den richtigen Winkel zu bringen. </cite
  >"<br />
  <br />
  <strong
    >Möchtest du damit auf weitere Informationen aufmerksam machen?</strong
  >
  <br />
  "<cite
    >Jaa, checkt aus
    <a target="_blank" href="https://soundcloud.com/milanraduz"
      >soundcloud.com/milanraduz</a
    >
    da gibts meinen alten stuff und auf
    <a target="_blank" href="https://klavier.cool">klavier.cool</a> demnächst
    meinen neuen stuff. </cite
  >"<br />
  <br />
  <strong
    >Welche Frage fehlt hier noch, was möchtest du noch dazu teilen?</strong
  >
  <br />
  "<cite
    >Frage: Was ist der Sinn des Lebens? <br />Antwort: Es gibt keinen "Sinn des
    Lebens"! Akzeptier das einfach und dann ist alles entspannter.
    Schwöre.</cite
  >"
  <br />
</app-qr-item>
