<app-qr-item
  [name]="'Das Bügeln Brett'"
  [imageSrc]="'assets/images/buegeln-logo-black-small.png'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Paul<br />
  <br />
  <strong>Wie bist du auf die Idee gekommen? </strong> <br />
  "<cite
    >Es ist mir ein sehr wichtiger Gegenstand, mit dem ich viele liebe Menschen
    und Erlebnisse verbinde. </cite
  >"<br />
  <br />
  <strong>Gibt es eine Geschichte dazu? </strong> <br />
  "<cite
    >Ja, die gibt es. Das Bügeln* Brett (* ja, ganz richtig und wichtig mit dem
    'n' hinten dran) habe ich vor zwei Jahren von guten Freunden zum Geburtstag
    geschenkt bekommen. Natürlich auch aus Spaß, aber nicht einfach nur
    zufällig. Denn es steht auch Symbolisch für ein kleines aber feines
    Party-Kollektiv namens 'Bügeln'. Ich habe es im ersten Jahr meines Leipzig
    Lebens zusammen mit einem lieben Menschen ins Leben gerufen. Wir hatten das
    gemeinsame Ziel mit guter Musik den Leipzigern viel Freude beim Tanzen zu
    bereiten. (Und natürlich selber mindestens genauso viel Spaß zu haben.) So
    hat dieser Gegenstand auch bereits ein paar wunderschöne Open Air Partys
    miterlebt. Und mal abgesehen von der guten Musik, habe ich durch diese
    Veranstaltungen auch viele besondere Menschen und neue Freunde in Leipzig
    kennen und lieben gelernt. Dafür bin ich sehr dankbar!</cite
  >"<br />
  <br />
  <strong
    >Möchtest du damit auf weitere Informationen aufmerksam machen?</strong
  >
  <br />
  "<cite
    >Ja, gerne. Und zwar würde ich an dieser Stelle gerne zum einen auf Martin
    verweisen und seine Erfahrungen und Fähigkeiten und Unterstützung beim
    Ersten unseres Logos und verschiedener Sticker. Also falls ihr mal nen
    Design oder sowas braucht, meldet euch gerne mal bei ihm auf der
    <a target="_blank" href="https://martinmu3ller.net/">Webseite</a>.<br />
    Und zum anderen möchte ich natürlich auf Herrn, ähh Mister, ähh 'MR Bügel'
    verweisen. Also die andere Person im Bügeln Duo. Quasi das heiße Eisen auf
    dem Brett und dahinter, das mit leckeren, dampfenden Beats, den Tanzenden
    die Knitter aus den Klamotten und die Falten ins Gesicht gebügelt hat.<br />
    Mukke zum Nachhören gibbet hier bei
    <a target="_blank" href="https://audius.co/mr_buegel/">Audius</a> oder bei
    <a target="_blank" href="https://www.twitch.tv/mr_buegel">Twitch</a>. <br />
    Ohhhh man. Das waren geile Zeiten und wahrscheinlich kommen auch bald wieder
    welche und vielleicht auch hier im Raum der Zeit! </cite
  >"<br />
  <br />
  <strong
    >Welche Frage fehlt hier noch, was möchtest du noch dazu teilen?</strong
  >
  <br />
  "<cite
    >Frage: Wann geht eigentlich wieder das nächste nice OpenAir? Falls du was
    hörst, sag mir gerne Bescheid! :)</cite
  >"
  <br />
</app-qr-item>
