<!-- <div [class.item-selected]="!routeHome()" (click)="!routeHome() && clickRoom()"> -->
<div>
  <div class="image-container">
    <img
      class="image"
      src="assets/images/Umrandung Grundriss Variante 01.png"
      alt="image"
    />

    <app-item-content
      [title]="'VERANSTALTUNGEN'"
      imageSrc="assets/images/kitchen.png"
      imageStyle="top: 38%; left: 5%; max-height: 50%; max-width: 12%;"
      route="events"
    >
      Hier informieren wir euch über zukünftige Veranstaltungen. <br />
      Mööööööb. Gerade nichts los. <br /><br />
      Möchtest du selber eine Veranstaltung organisieren oder den Raum nutzen?
      <br />
      <a
        [href]="
          'mailto:kontakt@raum-der-zeit.de?subject=Veranstaltung organisieren&body=' +
          eventInfosMailContent()
        "
        >Schreib uns einfach eine E-Mail.</a
      ><br />
    </app-item-content>

    <app-item-content
      [title]="'IDEE'"
      imageSrc="assets/images/lamp.png"
      imageStyle="top: 43%; right: 5%; max-height: 30%; max-width: 18%;"
      route="idea"
    >
      Der Eckladen in der schönen und dynamischen Hedwigstraße ist ein
      nicht-kommerzieller und vor allem partizipativer Raum für Begegnung und
      Kultur. Alle können den Raum <a href="/contribute">mitgestalten</a>! Er
      soll den Stadtteil bereichern, indem wir eine Mischung aus begehbarem
      Kunstobjekt, Treffpunkt und Kulturbühne schaffen. Zu den regulären
      Öffnungszeiten kannst du die Geschichten hinter den ausgestellten
      Gegenständen erfahren, mit deinen Freund*innen cornern, an deinem Projekt
      arbeiten oder den Blick übern Kiez schweifen lassen. <br />
      <br />
      Einfache Sprache: <br />
      Dieser Ort braucht kein Geld und ist für alle da. Er steht für Kunst,
      Kultur und Kontakt. Der Raum ist regelmäßig geöffnet. Du kannst die
      ausgestellten Gegenstände anschauen, hier Freund*innen treffen oder
      entspannen.
    </app-item-content>

    <app-item-content
      [title]="'MITGESTALTEN'"
      imageSrc="assets/images/plant.png"
      imageStyle="top: 9%; left: 22%; max-height: 25%; max-width: 16%;"
      route="contribute"
    >
      Die Ausstattung des Ladens wird durch eure geliehenen Gegenstände geprägt.
      Jedes geliehene Objekt erzählt mittels eines QR-Codes seine eigene
      Geschichte über sich oder dessen Besitzer*innen. Die Gegenstände im Laden
      sollen angefasst und verwendet werden. Außerdem verlassen sie den Raum
      nach einer bestimmten Frist wieder. Dadurch wird sich das Erscheinungsbild
      der Räumlichkeit ständig verändern. Möchtest du dem Raum einen Gruß von
      dir senden?
      <a
        [href]="
          'mailto:kontakt@raum-der-zeit.de?subject=Infos zu meinem Objekt&body=' +
          itemInfosMailContent()
        "
        >Wir freuen uns auf dein Objekt!</a
      ><br />
      <br />
      Einfache Sprache: <br />
      Alle Gegenstände in dem Raum kommen von verschiedenen Menschen. Du kannst
      auch einen Gegenstand mitbringen. Sie gehen auch wieder weg nach einer
      festgelegten Zeit. Der Raum verändert sich immer. Jeder Gegenstand trägt
      einen QR-Code und erzählt damit eine Geschichte.
    </app-item-content>

    <app-item-content
      [title]="'ÜBER UNS'"
      imageSrc="assets/images/carpet.png"
      imageStyle="top: 40%; left: 34%; max-height: 33%; max-width: 33%;"
      route="about-us"
    >
      Die monochrome Hausecke wird vom „Raum der Zeit e.V.“ betrieben. Der
      Verein besteht vor allem aus Nachbar*innen des Leipziger Ostens, die den
      Stadtteil bereichern wollen. Wir feiern die verschiedenen soziokulturellen
      und gastronomischen Akteur*innen im Dunstkreis der Hedwigstraße! Es ist
      eine Gegend, in der viel Leben auf der Straße stattfindet. Das wollen wir
      fördern und eine weitere kulturelle Anlaufstelle entstehen lassen! Der Ort
      wird durch aktive Mitwirkende bespielt und durch Fördermitglieder
      finanziert. Wenn du uns gern unterstützen möchtest,
      <a href="/contact">schreibe uns eine E-Mail</a>.
      <br />
      <br />
      Einfache Sprache:<br />
      Der Laden gehört zum Verein „Raum der Zeit e.V.“ Er besteht aus Menschen,
      die im Osten von Leipzig wohnen. Wir mögen die Stimmung auf der
      Hedwigstraße und wollen, dass hier noch mehr passiert. Du kannst den Ort
      unterstützen, mit Geld oder deiner Mitarbeit.
      <a href="/contact">Schreibe uns gerne eine E-Mail</a>.
    </app-item-content>

    <app-item-content
      [title]="'KONTAKT'"
      imageSrc="assets/images/couch.png"
      imageStyle="top: 5%; right: 5%; max-height: 33%; max-width: 33%;"
      route="contact"
    >
      Adresse: <br />
      Raum der Zeit e.V. <br />
      Hedwigstraße 11 <br />
      04315 Leipzig <br />
      <br />
      Kontakt: <br />
      Du willst uns etwas mitteilen? Schreib und gerne eine
      <a
        [href]="
          'mailto:kontakt@raum-der-zeit.de?subject=Kontakt über die Webseite&body=' +
          simpleMailContent()
        "
        >E-Mail mit deinem Anliegen.</a
      >
      <br />
      Du willst mitgestalten? Dann schreib uns einfach eine kurze
      <a
        [href]="
          'mailto:kontakt@raum-der-zeit.de?subject=Infos zu meinem Objekt&body=' +
          itemInfosMailContent()
        "
        >E-Mail mit Infos zu deinem Objekt</a
      >
      und gerne ein oder zwei Bildern im Anhang. <br />
      Möchtest du selber eine Veranstaltung organisieren oder den Raum nutzen?
      Dann schreib uns eine liebe
      <a
        [href]="
          'mailto:kontakt@raum-der-zeit.de?subject=Veranstaltung organisieren&body=' +
          eventInfosMailContent()
        "
        >E-Mail mit Infos zum geplanten Event.</a
      ><br />
    </app-item-content>

    <app-item-content
      [title]="'EINDRÜCKE'"
      imageSrc="assets/images/chair.png"
      imageStyle="bottom: 8%; right: 35%; max-height: 24%; max-width: 14%;"
      route="gallery"
    >
      <swiper
        [config]="config"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()"
        class="swiper-wrapper"
      >
        <ng-template swiperSlide *ngFor="let img of images">
          <div class="swiper-slide">
            <img style="flex-shrink: 1" [src]="img.src" [alt]="img.alt" />
          </div>
        </ng-template>
      </swiper>
    </app-item-content>

    <div class="home" (click)="homeClick()"></div>
  </div>
</div>
