<!-- <div [class.item-selected]="!routeHome()" (click)="!routeHome() && clickRoom()"> -->
<div>
  <div class="image-container">
    <img
      class="image"
      src="assets/images/Umrandung Grundriss Variante 01.png"
      alt="image"
    />

    <app-item-content
      [title]="'VERANSTALTUNGEN'"
      imageSrc="assets/images/kitchen.png"
      imageStyle="top: 38%; left: 5%; max-height: 50%; max-width: 12%;"
      route="events"
    >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet.
    </app-item-content>

    <app-item-content
      [title]="'IDEE'"
      imageSrc="assets/images/lamp.png"
      imageStyle="top: 43%; right: 5%; max-height: 30%; max-width: 18%;"
      route="idea"
    >
      Den Eckladen in der schönen und dynamischen Hedwigstraße verstehen wir als
      nicht-kommerziellen und vor allem partizipativen Raum für Begegnung und
      Kultur. Partizipation (Link zu Veranstaltungen) ist unter anderem auf
      inhaltlicher Ebene möglich, wenn du hier z.B. ein Konzert, ein
      Vereinstreffen, einen Lesekreis oder ein Nachbarschaftsbrunch organisieren
      möchtest. Die Besonderheit in dieser Räumlichkeit liegt jedoch in der
      gegenständlichen Mitgestaltung! Die Ausstattung des Ladens wird nämlich
      durch geliehene Gegenstände geprägt. Alle so geliehenen Gegenstände
      erzählen mittels eines QR-Codes ihre eigene Geschichte. Diese Leihobjekte
      sollen angefasst und verwendet werden und verlassen den Raum nach einer
      bestimmten Frist. Dadurch wird sich das Erscheinungsbild der Räumlichkeit
      ständig verändern. (Link zu Mitgestalten) Zu den regulären Öffnungszeiten
      (Link zu Kontakt) kannst du die Geschichten hinter den Gegenständen
      erfahren, mit deinen Freund*innen cornern, an deinem Projekt arbeiten oder
      den Blick übern Kiez schweifen lassen.
    </app-item-content>

    <app-item-content
      [title]="'MITGESTALTEN'"
      imageSrc="assets/images/plant.png"
      imageStyle="top: 9%; left: 22%; max-height: 25%; max-width: 16%;"
      route="contribute"
    >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet.
    </app-item-content>

    <app-item-content
      [title]="'ÜBER UNS'"
      imageSrc="assets/images/carpet.png"
      imageStyle="top: 40%; left: 34%; max-height: 33%; max-width: 33%;"
      route="about-us"
    >
      Wir als Bewohner einer Hausgemeinschaft in der Mariannenstraße, aber auch
      wir als Freund:innen des Leipziger Ostens schätzen den Kiez auf der
      Hedwigstraße sehr. Es ist ein Ort an dem viel Leben auf der Straße
      stattfindet. Ob ein Kaffee bei Analog, ne Pizza von Tito oder eine Limo
      vorm Späti an der Ecke. Wir kennen und mögen sie alle. Und am liebsten
      würden wir auch gerne einen Teil dazu beitragen einen besonderen Ort der
      Begegnung zu schaffen.
    </app-item-content>

    <app-item-content
      [title]="'KONTAKT'"
      imageSrc="assets/images/couch.png"
      imageStyle="top: 5%; right: 5%; max-height: 33%; max-width: 33%;"
      route="contact"
    >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet.
    </app-item-content>

    <app-item-content
      [title]="'EINDRÜCKE'"
      imageSrc="assets/images/chair.png"
      imageStyle="bottom: 8%; right: 35%; max-height: 24%; max-width: 14%;"
      route="galery"
    >
    </app-item-content>
  </div>
</div>
