.item-selected {
  cursor: zoom-out;
}

.image-container {
  position: relative;
  top: 0;
  left: 0;
}

.image {
  max-width: 95vw;
  max-height: 80vh;
  object-fit: scale-down;
}

.insta {
  display: flex;
  justify-content: center;

  > .a {
    display: flex;
  }

  > a:hover {
    background-color: var(--main-color);
  }

  > a > img {
    max-width: 7vw;
    max-height: 7vh;
    object-fit: scale-down;
  }
}

.home {
  width: 16%;
  height: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.home-portrait {
  width: 30%;
  height: 16%;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
