<div>
  <div class="image-container">
    <img
      *ngIf="!isPortrait"
      class="image"
      src="assets/images/room-frame.png"
      alt="image"
    />
    <img
      *ngIf="isPortrait"
      class="image"
      src="assets/images/room-frame-portrait.png"
      alt="image"
    />

    <app-item-content
      [title]="'VERANSTALTUNGEN'"
      imageSrc="assets/images/kitchen.png"
      [imageStyle]="
        !isPortrait
          ? 'top: 38%; left: 5%; max-height: 50%; max-width: 12%;'
          : 'top: -6%; left: 25%; max-height: 33%; max-width: 28%; transform: rotate(90deg);'
      "
      route="events"
      [isPortrait]="isPortrait"
    >
      Hier (weiter unten im Kalender) kannst du schauen wann unser
      Zitronenzimmer für dich geöffnet hat. <br />
      Außerdem findest du hier zusätzlich zu den normalen Öffnungszeiten auch
      noch Veranstaltungen wie Konzerte, DJs, Lesungen, Theater,
      Filmvorführungen und vieles mehr, die wir für dich geplant haben.<br />
      Über Öffnungszeiten sowie Veranstaltungen informieren wir auch bei
      <a
        style="display: inline-block"
        target="_blank"
        href="https://www.instagram.com/raum_der_zeit/"
        >Instagram</a
      >. <br />
      <br />
      Möchtest du uns bei den Öffnungszeiten unterstützen oder selber eine
      Veranstaltung organisieren oder den Raum nutzen?
      <br />
      Dann <a [href]="eventInfosMail"> schreib uns eine E-Mail</a> oder komm
      einfach vorbei und quatsch mit uns.<br />
      <br />
      <strong>Veranstaltungskalender</strong><br />
      <app-dx-calendar></app-dx-calendar><br />
      <br />
      P.S.: Du kannst dir diesen Kalender auch einfach selber
      <a
        style="display: inline-block"
        target="_blank"
        href="https://calendar.google.com/calendar/u/2?cid=dmxyZmhtc2NyMDlhODl1cnJrbTg1NTkwOGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
        >abonnieren</a
      >, dann musst du nicht immer hier nachschauen. ;-)
    </app-item-content>

    <app-item-content
      [title]="'IDEE'"
      imageSrc="assets/images/lamp.png"
      [imageStyle]="
        !isPortrait
          ? 'top: 43%; right: 5%; max-height: 30%; max-width: 18%;'
          : 'bottom: 6%; left: 26%; max-height: 18%; max-width: 34%; transform: rotate(90deg);'
      "
      route="idea"
      [isPortrait]="isPortrait"
    >
      Der Eckladen in der schönen und dynamischen Hedwigstraße ist ein
      <a
        target="_blank"
        href="https://www.paypal.com/donate/?hosted_button_id=V2TUM4724X9GA"
      >
        nicht-kommerzieller</a
      >
      und vor allem partizipativer Raum für Begegnung und Kultur. Alle können
      den Raum <a href="/contribute">mitgestalten</a>! Er soll den Stadtteil
      bereichern, indem wir eine Mischung aus begehbarem Kunstobjekt, Treffpunkt
      und Kulturbühne schaffen. <br />
      <br />
      Entspanne dich und schaue bei Veranstaltungen vorbei.
      Infos zu den Terminen findest du bei Instagram unter
      raum_der_zeit oder im <a href="/events">Veranstaltungskalender</a> auf 
      unserer Website.<br />
      <br />
      Einfache Sprache: <br />
      Du musst hier nichts kaufen, um Zeit zu verbringen. Alle können hierher
      kommen. Dieser Ort steht für Kunst, Kultur und Kontakt. Der Raum ist
      regelmäßig geöffnet. Du kannst hier Freund*innen treffen oder entspannen.
    </app-item-content>

    <app-item-content
      [title]="'MITGESTALTEN'"
      imageSrc="assets/images/plant.png"
      [imageStyle]="
        !isPortrait
          ? 'top: 9%; left: 22%; max-height: 25%; max-width: 16%;'
          : 'top: 22%; right: 6%; max-height: 14%; max-width: 27%; transform: rotate(90deg);'
      "
      route="contribute"
      [isPortrait]="isPortrait"
    >
      Organisiere selbst eine Veranstaltung.<br />
      <br />
      Du wolltest schon immer mal ein Konzert, eine Lesung oder einen 
      Workshop veranstalten? Wir sind gespannt auf deine Idee!<br />
      <br />
      Deine kleine Gruppe braucht einen regelmäßigen Raum z.B.
      für ihr Plenum, einen Lesekreis oder zur Theaterprobe?
      Schreibe uns eine <a target="_top" [href]="eventInfosMail">E-Mail</a> 
      an: kontakt@raum-der-zeit.de und beantworte uns doch gerne gleich
      <a href="/questions">ein paar Fragen</a> dazu. <br />
      Wir freuen uns von deinem Projekt zu erfahren!
      <br />
      <br />
      Einfache Sprache: <br />
      Veranstaltungen werden von Menschen selbst organisiert. Es gibt verschiendene Arten von Veranstaltungen.  
      Zum Beispiel Lesung, Basteln, Konzert, Film, Theater(proben). Du kannst
      auch eine Veranstaltung organisieren. 
      <a target="_top" [href]="eventInfosMail" >Schreib uns einfach eine E-Mail dazu.</a>
    </app-item-content>

    <app-item-content
      [title]="'Infos zu deinem Projekt'"
      [imageStyle]="
        !isPortrait
          ? 'top: 33%; left: 34%; max-height: 33%; max-width: 33%;'
          : 'top: 40%; left: 20%; max-height: 16%; max-width: 60%; transform: rotate(90deg);'
      "
      route="questions"
      [isPortrait]="isPortrait"
    >
      Schön, dass du darüber nachdenkst den Raum der Zeit mitzugestalten! <br />
      Bitte schickte uns dafür einfach eine E-Mail an kontakt@raum-der-zeit.de
      und beantworte uns doch gerne gleich bei Gelegenheit noch ein paar Fragen
      zu deinem Projekt oder Veranstaltung!<br />
      <br />
      1. Wie soll es heißen? <br />
      => Name: "Super-Mega-Event" <br /><br />

      2. Wann soll das stattfinden? <br />
      => morgen / nächste Woche / am 30.02. / an einem Sonntag <br /><br />

      3. Ist das öffentlich oder privat? <br />
      => nur meine Oma darf kommen / die Stadt ist eingeladen <br /><br />

      4. Wer bezahlt denn Strom / Wasser und Miete? Könnt ihr dem Raum der Zeit ein bisschen was spenden? <br />
      => klar, kein Ding nen Hunni ist da locker drin / der Eintritt ist für euch / ist nur ein Plenum, aber nen Zwanni für Strom und Wasser geht immer
      <br /><br />

      5. Welche Frage fehlt hier noch bzw. was möchtest du noch dazu mitteilen? <br />
      => Was ist der Sinn des Lebens? => Die Antwort ist im Zweifel immer 42. <br /><br />
      <br />
      <br />
    </app-item-content>

    <app-item-content
      [title]="'ÜBER UNS'"
      imageSrc="assets/images/carpet.png"
      [imageStyle]="
        !isPortrait
          ? 'top: 33%; left: 34%; max-height: 33%; max-width: 33%;'
          : 'top: 40%; left: 20%; max-height: 16%; max-width: 60%; transform: rotate(90deg);'
      "
      route="about-us"
      [isPortrait]="isPortrait"
    >
      Die monochrome Hausecke wird vom „Raum der Zeit e.V.“ betrieben. Der
      Verein besteht vor allem aus Nachbar*innen des Leipziger Ostens, die den
      Stadtteil bereichern wollen. Wir feiern die verschiedenen soziokulturellen
      und gastronomischen Akteur*innen im Dunstkreis der Hedwigstraße! Es ist
      eine Gegend, in der viel Leben auf der Straße stattfindet. Das wollen wir
      fördern und eine weitere kulturelle Anlaufstelle entstehen lassen! <br />
      Der Ort soll durch aktive Mitwirkende bespielt und durch 
      <a
        target="_blank"
        href="/assets/documents/antrag_auf_foerdermitgliedschaft.pdf"
        download="antrag_auf_foerdermitgliedschaft.pdf"
      >
      Fördermitglieder</a
      >
      und
      <a
        target="_blank"
        href="https://www.paypal.com/donate/?hosted_button_id=V2TUM4724X9GA"
      >
        Spenden</a
      >
      finanziert werden. Wenn du uns gern unterstützen möchtest,
      <a href="/contact">schreibe uns eine E-Mail</a>.
      <br />
      <br />
      Einfache Sprache:<br />
      Der Laden gehört zum Verein „Raum der Zeit e.V.“. Er besteht aus Menschen,
      die im Osten von Leipzig wohnen. Wir mögen die Stimmung auf der
      Hedwigstraße und wollen, dass hier noch mehr passiert. Du kannst den Ort
      unterstützen, mit
      <a
        target="_blank"
        href="https://www.paypal.com/donate/?hosted_button_id=V2TUM4724X9GA"
      >
        Geld</a
      >
      oder deiner Mitarbeit.
      <a href="/contact">Schreibe uns gerne eine E-Mail</a>.
    </app-item-content>

    <app-item-content
      [title]="'KONTAKT'"
      imageSrc="assets/images/couch.png"
      [imageStyle]="
        !isPortrait
          ? 'top: 5%; right: 5%; max-height: 33%; max-width: 33%;'
          : 'bottom: 15%; right: -3%; max-height: 18%; max-width: 50%; transform: rotate(90deg);'
      "
      route="contact"
      [isPortrait]="isPortrait"
    >
      Raum der Zeit e.V.<br />
      Hedwigstraße 11 <br />
      04315 Leipzig <br />
      <br />
      Du willst uns etwas mitteilen? Schreib und gerne eine
      <a [href]="simpleMail">E-Mail mit deinem Anliegen.</a>
      <br />
      Du willst die Zeit im Raum mitgestalten, eine Veranstaltung 
      organisieren oder den Raum für etwas anderes nutzen? Dann schreib uns einfach eine kurze
      <a [href]="eventInfosMail">E-Mail mit Infos zu deiner Idee</a>. <br />
      <br />
      <br />
      Falls die E-Mail Links bei dir nicht funktionieren, schreib uns eine
      E-Mail an: kontakt@raum-der-zeit.de <br />
      <br />
      <a href="/impressum">Link zum Impressum</a>
    </app-item-content>

    <app-item-content
      [title]="'IMPRESSUM'"
      imageSrc=""
      imageStyle="top: 5%; right: 5%; max-height: 0%; max-width: 0%;"
      route="impressum"
      [isPortrait]="isPortrait"
    >
      Angaben gemäß § 5 TMG<br />
      <br />
      Raum der Zeit e.V.<br />
      Hedwigstraße 11<br />
      04315 Leipzig<br />
      <br />
      Vereinsregister: VR7750<br />
      Registergericht: Amtsgericht Leipzig<br />
      <br />
      Vertreten durch:<br />
      Julius Colditz<br />
      Anna Morawek<br />
      Paul Colditz<br />
      <br />
      Kontakt<br />
      E-Mail: kontakt@raum-der-zeit.de
    </app-item-content>

    <app-item-content
      [title]="'EINDRÜCKE'"
      imageSrc="assets/images/chair.png"
      [imageStyle]="
        !isPortrait
          ? 'bottom: 8%; right: 35%; max-height: 24%; max-width: 14%;'
          : 'bottom: 40%; left: 5%; max-height: 12%; max-width: 25%; transform: rotate(90deg);'
      "
      route="gallery"
      [isPortrait]="isPortrait"
      [hasTextContent]="true"
    >
      Hier haben wir gerade keine Bilder. Am besten du schaust einfach mal bei
      <a target="_blank" href="https://www.instagram.com/raum_der_zeit/">
        Instagram</a
      >
      vorbei! <br />
      <br />
      Außerdem haben wir nun auch einen
      <a
        target="_blank"
        href="https://www.youtube.com/channel/UC9M_zFU_adEuijTM0VejIRQ"
        >Youtube-Kanal</a
      >
      auf dem wir ab und zu mal Video hochladen. Den kannst du dir natürlich
      auch gerne abonnieren!
      <app-yt-player videoId="yRA19V5yCA0"></app-yt-player>
    </app-item-content>

    <app-all-qr-items *ngIf="routeObject()"></app-all-qr-items>

    <app-all-cups *ngIf="routeCup()"></app-all-cups>

    <div
      [class]="!isPortrait ? 'home' : 'home-portrait'"
      (click)="homeClick()"
      (dblclick)="dblClickHome()"
    ></div>
  </div>
</div>
