.main {
  display: flex;
  justify-content: center;
}

.image-container {
  max-width: 95%;
  max-height: 95%;

  position: relative;
  top: 0;
  left: 0;
}

.image {
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

.item {
  position: absolute;
  top: 38%;
  left: 5%;
  max-height: 50%;
  max-width: 20%;
  width: 100%;
  height: 100%;
}
