<app-qr-item [name]="'Dagmar'" [imageSrc]="'assets/images/couch.png'">
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Anna<br />
  <br />
  <strong>Wie bist du auf die Idee gekommen? </strong> <br />
  "<cite
    >Dagmar hat schon ein langes Leben hinter sich und hat es sich verdient das
    erste Sofa im Eckladen zu sein.</cite
  >"<br />
  <br />
  <strong>Geschichte: </strong> <br />
  "<cite
    >Sie war das schönste Sofa auf eBay Kleinanzeigen, das ich finden konnte.
    Erst als ich Dagmar (geboren am 12. Juni 1974) abholte, wurde mir bewusst,
    dass ich hier mehr als eine bequeme ausklappbare Schlafcouch kaufte. Der
    junge Verkäufer erklärte mir, dass die Sofas aus der Dagmar Serie zu den
    beliebtesten in der DDR gehört hatten und dass es seiner Oma immer wichtig
    gewesen war Dagmars Geburtstag zu feiern! Also am 12. Juni 2024 Dagmars 50.
    Geburtstag im Raum der Zeit? </cite
  >"<br />
  <br />
  <br />
</app-qr-item>
