<app-qr-item [name]="'Flying Yoghurt!'" [imageSrc]="''">
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  𝘽𝘽 ☻ 𝙁𝙄𝙑𝙀<br />
  <br />
  <strong>Was möchtest du zu deinem Gegenstand erzählen?</strong>
  <br />
  "<cite
    >Hello. <br />
    Irgendwann fahr ich mit dem Ding in den Urlaub, nachdem es die letzten 2o
    Jahre ein riesiges Soundsystem aufm Dach hatte und für jede dumme
    Massenveranstaltung herhalten musste, bevor ich es dann gekauft und
    umlackiert habe. <br />
    Seitdem streikt ja aber leider der Motor und es is erstmal selbstgewählt in
    Rente gegangen ._. </cite
  >"<br />
  <app-yt-player videoId="oEegTJzESno"></app-yt-player>
</app-qr-item>
