<app-qr-item
  [name]="'Tillo Pillow'"
  [imageSrc]="'assets/images/tillo-pillow.jpg'"
>
  <strong>Wer hat diesen Gegenstand eingebracht? </strong><br />
  Tillo<br />
  <br />
  <strong>Gibt es eine Geschichte dazu? </strong> <br />
  "<cite
    >Es begab sich zu der zeit das, dass alljährliche Ozora Festival stattfand
    und wir die Planung für unser camp angingen. Es fehlten Kissen, auf dem
    Teppich, zum sitzen. So besorgte ich welche und brach sie mit meinen
    Brüdern*und Schwestern* </cite
  >"<br />
  <br />
  <strong
    >Möchtest du damit auf weitere Informationen aufmerksam machen?</strong
  >
  <br />
  "<cite
    >Ihr könnt mir gerne bei
    <a target="_blank" href="https://soundcloud.com/tillo-strzalka"
      >SoundCloud</a
    >
    folgen ihr coole menschen #I_Need_Clicks </cite
  >"<br />
  <br />
</app-qr-item>
